<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.tav.pavgame">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="ro.tav.pavgame.PavGameApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ro.tav.pavgame.presentation.view.RecyclerViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name="ro.tav.pavgame.presentation.view.CreditsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleInstance" />
        <activity
            android:name="ro.tav.pavgame.presentation.view.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_main"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ro.tav.pavgame.presentation.view.RegisterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleInstance" />
        <activity
            android:name="ro.tav.pavgame.presentation.view.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleInstance"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="ro.tav.pavgame.presentation.PavGameService" />
    </application>
</manifest>
